@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'DM Sans', sans-serif;
  }

  select {
    @apply outline-none bg-white text-black shadow rounded py-8 px-16 w-full;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

label {
  @apply block mb-8 text-base;
}

[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  @apply py-12 pl-24 w-full rounded-md bg-white border border-medium-grey text-black text-base focus:outline-none focus:border-purple focus:ring-1 focus:ring-purple;
}

[type='checkbox'],
[type='radio'] {
  @apply h-16 w-16 border focus:ring-0;
  /* box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.08); */
  border-color: #dbe2ea;
}
::placeholder {
  @apply text-medium-grey;
}

button {
  @apply text-base font-medium transition duration-150 ease-out;
}

.w-inherit {
  width: inherit;
}
.h-inherit {
  height: inherit;
}

.menu-list li {
  @apply text-black text-base bg-white hover:bg-tab w-full;
}
.menu-list li button,
.menu-list li a {
  @apply text-base bg-white hover:bg-tab px-24 py-12 w-full;
}

.tab button {
  @apply rounded-xl px-24 py-8;
}

.user-tab button {
  @apply px-24 py-8;
}

.search [type='text'] {
  @apply bg-[#fafafa] border-[#fafafa] focus:border-none focus:ring-0;
}

.form-control {
  @apply py-12 pl-24 w-full rounded-md bg-white border border-medium-grey text-black text-base;
}

/* Table  */
.table {
  @apply w-full rounded-lg py-16 px-32;
}

.tr {
  @apply grid grid-flow-col align-middle auto-cols-fr bg-white rounded-xl shadow-[0_4px_50px_rgba(0,0,0,0.1)] px-16 py-4;
}

.thead {
  @apply grid grid-flow-col auto-cols-fr px-16;
}

.th {
  @apply text-base font-medium py-12;
}

.td {
  @apply text-sm opacity-60  py-12;
}

table {
  @apply w-full;
}

tr {
  @apply bg-white mb-16;
}

tbody tr {
  @apply shadow-[0_4px_20px_rgba(0,0,0,0.05)];
}

tbody,
thead {
  @apply rounded-xl;
}

/* thead {
  @apply px-16;
} */

th {
  @apply text-base font-medium text-left;
}

td {
  @apply text-sm;
}

th,
td {
  @apply py-12 px-36 text-[#333];
}

.error-notif {
  padding: 18px;
}

.error-notif.error {
  background-color: #fff1f1;
  color: rgba(24, 24, 25, 0.9);
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
}
